$backcolor: #f5f5f5;
*{
    padding:0;
    margin:0;
}
.all{
    color:var(--textcolor);
    width:100%;
    position: absolute;
    overflow-y: scroll;
    background-color: var(--bcgcolor);
    transition: .6s;
}
.zw{
    height:70px;
}

.media1,.media2,.media3,.media4{
    display: flex;
    width:80%;
    flex-direction: column;
    align-items: center;
}

.musicimg{
    width: 100%;
    margin-top:15px;
    max-height:200px;
}
.musicimgs{
    border-radius: 15px;
    max-height:200px;
    width:100%;
}
.down{
    z-index:2;
    height:93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mode{
    width:100%;
    height:150px;
    background:linear-gradient(to right,#37bef6,#2dd2c1);
    border-radius: 5%;
    margin-top:15px;
}
.mtext1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:50%;
    font-size:16px;
    color:white;
    float: left;
    padding-left: 10px;
}
.lottie1{
    width:30%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation{
    width:100%;
    height:100%;
}
.topiconarea{
    height:20px;
    width:100%;
    padding:5px;
    font-size:20px;
    display: flex;
}
.iconatext{
    font-size:14px;
    font-weight:550;
    display: flex;
    align-items: center;
    font-family: Georgia;
}
.smode{
    background-color: #f5f5f5;
    height:150px;
    border-radius: 10px;
    width:100%;
    margin-top:15px;
    flex-direction: column;
    display: flex;
}
.smbottom{
    width:100%;
}
.smicon{
    height:100px;
    display: flex;
}
.smicons{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
}
.smbtext{
    height:30px;
    padding-top:10px;
    padding-left:20px;
    font-size:18px;
    text-shadow: 0px 0px 1px;
    letter-spacing: 0.1em;
    font-family: Georgia;
}
.smbtext1{
    padding-left:20px;
    padding-bottom:10px;
    font-size:18px;
    text-shadow: 0px 0px 1px;
    letter-spacing: 0.1em;
    font-family: Georgia;
}
.swiper{
    width:100%;
    height:180px;
    margin-top:15px;
    border-radius: 15px;
    // display: flex;
    // justify-content: center;
}
.content{
    height:150px;
    border-radius: 15px;
    z-index:0;
}
.stack{
    width:100%;
    margin-top:15px;
    background-color: #f5f5f5;
    border-radius: 15px;
    // position: relative;
    // height:110px;
    // overflow: hidden;
}
// @keyframes scroll {
//     from {}
//     to {
//         left:-86px;
//     }
// }
.sstack{
    width:14%;
    height:70px;
    left:100%;
    // position: relative;
    // animation-name: scroll;
    // animation-duration: 25s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    margin-bottom:15px;
}
.stacks{
    width:80%;
    justify-self: center;
    align-self: center;
    height:90px;
}
.switem{
    height:180px;
    border-radius: 15px;
}

.stackmo{
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
    }
    .stacks1{
        left:100%;
        position: absolute;
        width:100%;
        animation: move 20s linear infinite;
    }
    .stacks2{
        left:100%;
        position: absolute;
        width:100%;
        animation: move 20s linear infinite;
        animation-delay: 10s;
    }
    .sstack{
        width:25%;
    }
.stackicon{
    height:80%;
    width:80%;
}
.stacktext{
    font-weight:600;
}
.swimg{
    width:100%;

}
.award,.award1{
    width:100%;
    margin-top:15px;
    background-color: #f5f5f5;
    border-radius: 15px;
}
.awards{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smode,.stack,.award,.award1{
    background-color: var(--mdbcg);
}
@media (min-width:992px) {
    .media1,.media2,.media3,.media4{
        flex-direction: row;
        width:60%;
    }
    .award{
        width:47.5%;
    }
    .award1{
        min-height:200px;
        margin-right:5%;
    }
    .award:nth-child(1){
        margin-right:5%;
    }
    .mode{
        width:60%;
        height:150px;
    }
    .smode{
        height:150px;
        width:40%;
        margin-left:4%;
    }
    .switem{
        height:220px;
    }
    .swiper{
        // min-height:200px;
        height:220px;
        width:50%;
        margin-right:5%;
    }
    .stack{
        min-height:220px;
        width:70%;
    }
    .stacks{
        height:200px;
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stackmo{
    width:100%;
    height:50%;
    position: relative;
    overflow: hidden;
    }
    .stacks1{
        left:100%;
        position: absolute;
        width:100%;
        animation: move 20s linear infinite;
    }
    .stacks2{
        left:100%;
        position: absolute;
        width:100%;
        animation: move 20s linear infinite;
        animation-delay: 10s;
    }
    .sstack{
        width:25%;
    }
   .card{
    width:30%;
   }
}
@keyframes move {
    from{
        
    }
    to{
        transform: translate(-200%);
    }
}
