.all{
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bcgcolor);
    color:var(--textcolor);
    transition: .6s;
    scrollbar-width: none;
}
.all::-webkit-scrollbar{
    display:none;
    width:none;
}
.zw{
    height:70px;
    width:100%;
}
.mode{
    width:80%;
    height:120px;
    background-color: var(--mdbcg);
}
.award{
    width:80%;
    margin-top:15px;
    background-color: var(--mdbcg);
    border-radius: 15px;
}
.awards{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
    margin-left:15px;
}
.topiconarea{
    height:30px;
    width:100%;
    padding:5px;
    font-size:20px;
    display: flex;
}
.iconatext{
    font-size:14px;
    font-weight:550;
    display: flex;
    align-items: center;
}