:root{
    --bcgcolor:white;
    --textcolor:black;
    --mdbcg:#f5f5f5;
}

html[data-theme="dark"] {

    --bcgcolor:#1b1b1f;      //总背景颜色
    --mdbcg:#1e293b;         //小模块背景颜色
    --textcolor:white;        //字体颜色
}

//主题色配置