.end{
    width:100%;
    height:20px;
    border-bottom: solid 2px var(--mdbcg);
}
.endtext{
    height:50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
}
.all{
    width:100%;
}
.beian{
    cursor: url('../../../public/breeze/Hand2.cur'),pointer;
}