.detail{
    width:92%;
    align-self: center;
    height:80%;
    z-index:2;
    background-color: var(--bcgcolor);
}
pre{
    color:black;
    background-color: var(--bcgcolor);
}
:root .markd{
    background: var(--bcgcolor);
    color:var(--textcolor);
}
.all{
    -webkit-animation: all .6s linear;
    animation: all .6s linear;
    transition: .6s;
    background-color: var(--bcgcolor);
}
// .bcg{
//     width:100%;
//     height:100%;
//     position: fixed;
//     top:0;
//     left:0;
//     background-color: var(--mdbcg);
//     // background:url("../../img/bcg2.jpeg");
//     // background-size: 200%;
//     // opacity: .09;
// }
.bcg{
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--bcgcolor);
}
@keyframes back{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes all{
    0%{
        opacity: 0;
        left:100%;
    }
    // 50%{
    //     opacity: .9;
    //     left:10%;
    // }
    100%{
        opacity: 1;
        left:0;
    }
}
.title{
    font: {
        size:27px;
        weight:800;
    };
    text-align: center;
    word-wrap:break-word;
}
.enddetail{
    margin-top:30px;
    width:90%;
    height:50px;
    align-self: center;
}
.entexts{
    display: flex;
    align-items: center;
}
.entext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight:600;
    height:50%;
    width:100%;
    font-size:15px;
    color:var(--textcolor);
}
.zw{
    height:70px;
    width:100%;
}
.all{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}
.load{
    text-align: center;
    line-height:100px;
}
.bottom{
    width:100%;
    height:60px;
    // position: absolute;
    bottom:0px;
    position: fixed;
    background-color: white;
    border-top:.5px solid gray;
    z-index:200;
}
.good{
    width:120px;
    height:36px;
    margin-top:12px;
    margin-left:10px;
    background-color: #fcece7;
    border-radius: 20px;
}
.lefticon{
    width:60px;
    height:100%;
    font-size:23px;
    text-align: center;
    line-height:36px;
    color:#fb5531;
    float: left;
}
.likesnum{
    float: right;
    font-size:18px;
    margin-right:5px;
}
.righticon{
    @extend .lefticon;
    transform: rotate(180deg);
    transform: rotate3d(1,0,0,180deg);
}
.bottom_right{
    font-size:25px;
    position: relative;
    left:320px;
    bottom:30px;
}
.bottom_righticon{
    margin-left:30px;
}
.pop {
  --border-radius: 10px;
}
.pl_top{
    font-size:20px;
    text-align: center;
    height:40px;
    line-height:40px;
    border-bottom: .5px solid gray;
}
.pl_mod{
    width:100%;
}
.pl_mod_avator{
    width:30px;
    height:30px;
    background-color: red;
    border-radius: 100%;
    margin-left:5px;
    margin-top:5px;
    float: left;
}
.pl_mod_name{
    float: left;
    margin-left:5px;
    font: {
        size:17px;
        weight:600;
    }
}
.pl_mod_top{
    height:40px;
    line-height:40px;
}
.pl_content{
    width:350px;
    margin-left:40px;
    word-wrap: break-word;
    font-size:16px;
}
.pl_time{
    color:gray;
    margin-left:40px;
    margin-top:10px;
    font-size:12px;
}
.details_pop__1PELz \deep\ {
    height:20px;
    width:430px;
}
.pl_bottom{
    width:100%;
    height:60px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom:0px;
}
.pl_input{
    float: left;
    width:70%;
}
.pl_mod_avator1{
    width:30px;
    height:30px;
    background-color: green;
    border-radius: 100%;
}
.send{
    display:block;
    float:left;
    width:20%;
    font-size:12px;
}
.bigmod{
    max-height:700px;
    overflow: scroll;
}

@media (min-width:992px) {
    .bcg{
        background-size: 80%;
    }
    .detail{
        width:50%;
    }
}