.detail{
    width:400px;
    margin-left:15px;
    overflow: hidden;
    height:80%;
}
.title{
    font: {
        size:27px;
        weight:800;
    };
    text-align: center;
    word-wrap:break-word;
}
.zw{
    height:70px;
    width:100%;
}
.all{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}
.load{
    text-align: center;
    line-height:100px;
}
.bottom{
    width:100%;
    height:60px;
    // position: absolute;
    bottom:0px;
    position: fixed;
    background-color: white;
    border-top:.5px solid gray;
}
.good{
    width:120px;
    height:36px;
    margin-top:12px;
    margin-left:10px;
    background-color: #fcece7;
    border-radius: 20px;
}
.lefticon{
    width:60px;
    height:100%;
    font-size:23px;
    text-align: center;
    line-height:36px;
    color:#fb5531;
    float: left;
}
.likesnum{
    float: right;
    font-size:18px;
    margin-right:5px;
}
.righticon{
    @extend .lefticon;
    transform: rotate(180deg);
    transform: rotate3d(1,0,0,180deg);
}
.bottom_right{
    font-size:25px;
    position: relative;
    left:320px;
    bottom:30px;
}
.bottom_righticon{
    margin-left:30px;
}
.pop {
  --border-radius: 10px;
}
.pl_top{
    font-size:20px;
    text-align: center;
    height:40px;
    line-height:40px;
    border-bottom: .5px solid gray;
}
.pl_mod{
    width:100%;
}
.pl_mod_avator{
    width:30px;
    height:30px;
    background-color: red;
    border-radius: 100%;
    margin-left:5px;
    margin-top:5px;
    float: left;
}
.pl_mod_name{
    float: left;
    margin-left:5px;
    font: {
        size:17px;
        weight:600;
    }
}
.pl_mod_top{
    height:40px;
    line-height:40px;
}
.pl_content{
    width:350px;
    margin-left:40px;
    word-wrap: break-word;
    font-size:16px;
}
.pl_time{
    color:gray;
    margin-left:40px;
    margin-top:10px;
    font-size:12px;
}
.details_pop__1PELz \deep\ {
    height:20px;
    width:430px;
}
.pl_bottom{
    width:100%;
    height:60px;
    position: absolute;
    bottom:0px;
}
.pl_input{
    margin-left:40px;
    float: left;
    margin-top:10px;
    width:340px;
}
.pl_mod_avator1{
    width:30px;
    height:30px;
    background-color: green;
    border-radius: 100%;
    position: absolute;
    left:5px;
    top:7px;
}
.send{
    display:block;
    float:left;
    width:50px;
    font-size:12px;
    margin-top:10px;
}
.bigmod{
    max-height:700px;
    overflow: scroll;
}